.graphs {
  display: table;
  padding-top: 50px;
}

.bar-chart {
  height: auto;
  width: 50%;
  max-width: 550px;
}

.line-graph {
  height: auto;
  width: 50%;
  max-width: 550px;
}

.table {
  padding-top: 50px;
}
